
@{
    ViewData["Title"] = "Orçamento";
}

<div class="d-flex align-items-center justify-content-center vh-80 text-white">
<div class="card mb-5" style="background: linear-gradient(90deg, #093A12 0%, #00A859 80%); padding: 20px; width: 45rem; height: 34rem; ">
    <h1 class="text-center">@ViewData["Title"]</h1>

   
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label" asp-for="RazaoSocial2">Razão Social</label>
            <input type="text" class="form-control" id="inputText" asp-for="RazaoSocial">
        </div>
        <div class="col-md-6">
            <label for="inputText" class="form-label" asp-for="NomeSolicitante">Nome do Solicitante</label>
            <input type="text" class="form-control" id="inputPassword4" asp-for="NomeSolicitante">
        </div>
        <div class="col-md-6">
            <label for="inputAddress" class="form-label" asp-for="Cnpj">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" asp-for="Cnpj" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        </div>
        <div class="col-md-6">
    <label for="inputState" class="form-label" asp-for="Estado">Estado</label>
    <select id="inputState"  class="form-select selectpicker" data-live-search="true" data-size="5" data-max-options="5"  asp-for="Estado">
        <option value="">Selecione seu estado...</option>
        <option value="0">Acre</option>
        <option value="22">Alagoas</option>
        <option value="23">Espirito Santo</option>
        <option value="1">São Paulo</option>
        <option value="2">Rio de Janeiro</option>
        <option value="3">Bahia</option>
        <option value="4">Minas Gerais</option>
        <option value="5">Ceará</option>
        <option value="6">Amazonas</option>
        <option value="7">Mato Grosso</option>
        <option value="8">Goiás</option>
        <option value="9">Maranhão</option>
        <option value="10">Mato Grosso do sul</option>
        <option value="11">Pará</option>
        <option value="12">Paraíba</option>
        <option value="13">Pernambuco</option>
        <option value="14">Piauí</option>
        <option value="15">Rio Grande do Norte</option>
        <option value="16">Rio Grande do Sul</option>
        <option value="17">Rondônia</option>
        <option value="18">Roraima</option>
        <option value="19">Santa Catarina</option>
        <option value="20">Sergipe</option>
        <option value="21">Tocantins</option>
    </select>   
</div>

        <div class="col-md-4">
            <label for="inputNumber" class="form-label" asp-for="QuantidadeFuncionarios">Quantidade de funcionário</label>
            <input type="number" class="form-control" asp-for="QuantidadeFuncionarios">
        </div>
        <div class="col-md-8" id="distancia">
            <label for="inputCep" class="form-label" asp-for="Cep">CEP</label>
            <input type="tel" class="form-control" id="inputCep" pattern="[0-9]" asp-for="Cep">
        </div>
        <div class="col-md-12">
            <label for="inputCity" class="form-label" asp-for="Endereco">Endereço</label>
            <input type="text" class="form-control" id="inputCity" asp-for="Endereco">
        </div>
        
        <div class="col-12">
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-dark" style="">Faça o orçamento já</button>
            </div>
        </div>
    </form>
</div>
</div>

      @*   <div class="accordion" id="accordionExample">
            <h1 class="text-center">Veja as Opções de planos</h1>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Básico
                    </button>
                </h2> *@
                @* <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Escolhendo o plano Básico você tem a opção de -</strong>                        
                        </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" id="exame" name="exame" >
                        <label class="form-check-label" >Exame Clínico</label>
                        <div class="form-check form-check-inline">
                            <input type="checkbox"  id="PCMSO" name="PCMSO" >
                            <label class="form-check-label" for="scales">PCMSO</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox"  id="PPP" name="PPP" >
                            <label class="form-check-label" for="scales">PPP</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox"  id="scales" name="scales">
                            <label class="form-check-label" for="scales">Exame Clínico</label>
                            <script> 
                                function calculoValor(distancia){
                                    var valor;

                                    if (distancia >= 0 && distancia <= 150) {
                                        valor = 0.80;
                                    } else if (distancia > 150 && distancia <= 500){
                                        valor = 0.70;
                                    } else if (distancia > 500){
                                        valor = 0.60;
                                    } else{
                                        console.log("A distancia é inválida.");
                                        return;
                                    }

                                    let valorTotal = distancia * valor;
                                    console.log("O Valor do seu orçamento ficou - R$" + valorTotal.toFixed(2));
                                    }

                                    let distancia = 50;
                                    calculoValor(distancia);
                                




                                var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                                var limit = 3;

                                checkboxes.forEach(function (checkbox) {
                                    checkbox.addEventListener('change', function () {
                                        var checkedCount = document.querySelectorAll('input[type="checkbox"]:checked').length;
                                        if (checkedCount > limit) {
                                            this.checked = false;
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>              
            </div> *@          
           

        


           @*  <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Plus
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Escolhendo o plano Plus você tem a opção de -</strong> 
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" id="PGR" for="scales" />
                    <label class="form-check-label" for="scales" id=" PGR">PGR</label>

                    <input type="checkbox" id="epi" for="scales"/>
                    <label class="form-check-inline" for="scales" id="epi">EPI</label>

                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>      
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
</div>
</div> *@
    
