@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h5>
        <span
            style="background: linear-gradient(90deg, #093A12 0%, #00A859 80%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; "
            class="fs-1">
            Veja os planos que temos
        </span>
    </h5>

</div>

<div class="d-flex align-items-center ">
    <div class="card" style="width: 62rem; height: 33rem; background: #005B3D; opacity: 0.98; margin-right: 50px; ">
        <h3 class="card-title text-center "><strong>Fundamental</strong></h3>
        <strong class="card-text">Escolhendo o plano Fundamental você tem essa variedade de recursos -</strong>

        <div class="col-md-3 form-group fs-6">
            <ul>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox1">PGR</label>
                </li>
                <li>PGR</li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox2">LTCAT</label>
                </li>
                <li>
                    <label class="form-check-label" for="checkbox3">PCMSO</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox4">Mensageria E-Social </label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox5">Vizualização de Documentos on-line</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox6">Envio de Alerta de Vencimentos</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox7">Gestão financeira de contrato</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox8">Agendamento online de exames</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox9">Abertura e acompanhamento de atividades</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox10">Sem limites de acessos</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox11">Grafico Estatíco com Perfil de Saúde</label>
                </li>
            </ul>
        </div>


        <div class="mt-auto text-center">
            <button class="submit center" onclick="window.location.href='/Home/Contact'">Saiba Mais</button>
        </div>
    </div>

    <div class="card" style="width: 62rem; height: 33rem; background: #005B3D; opacity: 0.98; margin-right: 50px;">
        <h3 class="card-title text-center "><strong>Plus</strong></h3>

        <strong class="card-text">Escolhendo o plano básico você tem essa variedade de recursos -</strong>
        <li class="text">Exame clínico</li>
        <li class="text">PCMSO</li>
        <li class="text">PPP</li>
        <li class="text">PGR</li>
        <li class="text">Gestão</li>
        <div class="mt-auto text-center">
            <button class="submit center" onclick="window.location.href='/Home/Contact'">Saiba Mais</button>
        </div>
    </div>

    <div class="card" style="width: 62rem; height: 33rem; background: #005B3D; opacity: 0.98; margin-right: 50px;">
        <h3 class="card-title text-center "><strong>Premium</strong></h3>

        <strong class="card-text">Escolhendo o plano básico você tem essa variedade de recursos -</strong>
        <li class="text">Exame clínico</li>
        <li class="text">PCMSO</li>
        <li class="text">PPP</li>
        <li class="text">PGR</li>
        <li class="text">Gestão</li>
        <div class="mt-auto text-center">
            <button class="submit center" onclick="window.location.href='/Home/Contact'">Saiba Mais</button>
        </div>
    </div>

    <div class="card" style="width: 62rem; height: 33rem; background: #005B3D; opacity: 0.98; margin-right: 50px;">
        <h3 class="card-title text-center "><strong>Personalizado</strong></h3>
        <div class="">
            <strong class="card-text">Escolhendo o plano básico você tem essa variedade de recursos:</strong>
            <ul>
                <li><input type="checkbox" class="checkbox"> Exame clínico</li>
                <li><input type="checkbox" class="checkbox"> PCMSO</li>
                <li><input type="checkbox" class="checkbox"> PPP</li>
                <li><input type="checkbox" class="checkbox"> PGR</li>
                <li><input type="checkbox" class="checkbox"> Gestão</li>
            </ul>
        </div>
        <div class="d-flex justify-content-center mt-auto ">
            <button class="submit center" onclick="window.location.href='/Home/Contact'">Saiba Mais</button>
        </div>
    </div>
</div>
