@model ContactViewModel;

<div class="d-flex align-items center justify-content-center vh-80 text-white">
    <div class=" card mb-5" style="background: linear-gradient(90deg, #093A12 0%, #00A859 80%); padding: 20px; width: 45rem; height: 34rem;">
        <h1 class="text-center">Formulario de Orçamento</h1>

        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail" class="form-label " asp-for="RazaoSocial">Razão Social</label>
            </div>

        </form>
    </div>
</div>



<div class=" card text-center container card-container" style="background: linear-gradient(90deg, #093A12 0%, #00A859 80%)" >
    <style>
        .card-container{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    </style>
    <h2 style="background: linear-gradient(90deg, #eceeec 0%, #eff0ef 80%);-webkit-background-clip: text; -webkit-text-fill-color: transparent; margin-top: -10%; font-size:52px;" >Todos os nossos planos incluem -</h2>

<div class="card-text text-center fs-5 text-white fs-5">
    <ul class="list-unstyled">
    <li>PGR</li> 
    <li>LTCAT ou Declaração de Inesistencia de risco </li> 
    <li>PCMSO</li> 
    <li>Relátorio Analitico</li> 
    <li>Mensageria E-Social S-2210 S-2220 S-2240</li>
    <li>Vizualização de Documentos on-line</li>
    <li>Envio de alerta de vencimentos</li>
    <li>Gestão financeira de contrato</li>
    <li>Agendamento online de exames</li>
    <li>Abertura e acompanhamento de atividades</li>
    <li>Sem limites de acessos</li>
    <li>Gráfico estatíco com perfil de saúde</li> 
    </ul>
</div>
</div>

<div class="text-center ">
    <h5>
        <span
            style="background: linear-gradient(90deg, #093A12 0%, #00A859 80%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; "
            class="fs-1">
            Veja os planos que temos
        </span>
    </h5>

</div>
<style>
    .card{
        width: 53rem;
        height: 33rem;
    }
</style>
<style>
  ul {
    list-style-type: none;
  }
</style>

<div class="d-flex align-items-center " style="margin-top: 3%; ">
    <div class="card shadow-lg p-3 mb-5  rounded" style="width: 35rem; height: 32rem; background: linear-gradient(90deg, #093A12 0%, #00A859 80%); opacity: 0.98; margin-right: 50px; ">
        <h3 class="card-title text-center text-white"><strong>Fundamental</strong></h3>
        <strong class="card-text text-white">Escolhendo o plano Fundamental você tem essa variedade de recursos -</strong>

        <div class="col-md-3 form-group fs-6 text-white" >
            <ul class="list-unstyled">
                <li class="text-left align-items-center d-flex"  for="checkbox1" style="white-space: nowrap;" >
                    PPP - R$120,00
                </li>               
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox2">Exame clínico - R$60,00</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox3">Ficha de EPI - R$30,00</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox4">Ordem de serviço por função - R$70,00</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox5">Alvara bombeiro até 690m² - R$1200,00</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox6">Treinamento - R$800,00</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox7">Lançar docs anteriores até 2anos - R$250,00</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox8">Integração com sistema de RH</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox9">Tabela de Exames complementares</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox10">Sem limites de acessos</label>
                </li>
                <li class="text-nowrap">
                    <label class="form-check-label" for="checkbox11">Grafico Estatíco com Perfil de Saúde</label>
                </li>
            </ul>
            <div class="text-center mx-auto ">
            <p class="text-nowrap center fs-1 text-white " style="margin-top: -20%;">R$700,00</p>
            <p class="text-nowrap fs-5 text-white" style="margin-top: -40%;">em até 3x sem juros</p>
            </div>
        </div>
        <div class="mt-auto text-center">
            <button class="submit center" onclick="window.location.href='/Home/Contact'">Saiba Mais</button>
        </div>
    </div>

    <div class="card shadow-lg p-3 mb-5  rounded" style="width: 35rem; height: 32rem;background: linear-gradient(90deg, #093A12 0%, #00A859 80%); opacity: 0.98; margin-right: 50px;">
        <h3 class="card-title text-center text-white"><strong>Plus</strong></h3>

        <strong class="card-text text-white">Escolhendo o plano plus você tem essa variedade de recursos -</strong>
        <ul class="list-unstyled">
        <li class=" align-items-center d-flex text-white"  for="checkbox1" style="white-space: nowrap;" >
                    PPP - Incluso
                </li> 
        <li class="text-white">Exame Clinico - Incluso</li>
        <li class="text-white">Ficha de EPI - R$30,00</li>
        <li class="text-white" style="white-space: nowrap;">Ordem de Serviço por função R$70,00
</li>
        <li class="text-white">Alvara Bombeiro até 690 m - R$950,00
</li>
<li class="text-white">Treinamento - R$ 800,00
</li>
<li class="text-white" style="white-space: nowrap;">Lançar docs aneriores até 2anos - R$250,00
</li>
<li class="text-white">Integração com sistema de RH</li>
<li class="text-white">Tabela de Exames complementares</li>
<li class="text-white">Sem limite de acessos</li>
<li class="text-white">Grafico Estatíco com Perfil de Saúde</li>
        </ul>
        <div class="text-left  mx-auto" style="width: 100%;">
            <p class="text-left center fs-1 text-white " style="margin-top: -5%;">R$1200,00</p>
            <p class="text-left fs-5 text-white" style="margin-top: -10%;">em até 3x sem juros</p>
            </div>
        <div class="mt-auto text-center">
            <button class="submit center" onclick="window.location.href='/Home/Contact'">Saiba Mais</button>
        </div>
    </div>

    <div class="card shadow-lg p-3 mb-5  rounded" style="width: 33rem; height: 32rem; background: linear-gradient(90deg, #093A12 0%, #00A859 80%); opacity: 0.98; margin-right: 50px;">
        <h3 class="card-title text-center text-white"><strong>Premium</strong></h3>

        <strong class="card-text text-white">Escolhendo o plano premium você tem essa variedade de recursos -</strong>
        <ul class="list-unstyled">
        <li class=" align-items-center d-flex text-white"  for="checkbox1" style="white-space: nowrap;" >
                    PPP - Incluso
                </li> 
        <li class="text-white">Exame Clinico - Incluso</li>
        <li class="text-white">Ficha de EPI - Incluso</li>
        <li class="text-white" style="white-space: nowrap;">Ordem de Serviço por função - Incluso
</li>
        <li class="text-white">Alvara Bombeiro até 750 m - Incluso
</li>
<li class="text-white">Treinamento - R$ 800,00
</li>
<li class="text-white" style="white-space: nowrap;">Lançar docs anteriores até 2anos - R$250,00
</li>
<li class="text-white">Integração com sistema de RH</li>
<li class="text-white">Tabela de Exames complementares</li>
<li class="text-white">Sem limite de acessos</li>
<li class="text-white">Grafico Estatíco com Perfil de Saúde</li>
        </ul>
        <div class="text-left  mx-auto" style="width: 100%;">
            <p class="text-left center fs-1 text-white " style="margin-top: -5%;">R$4400,00</p>
            <p class="text-left fs-5 text-white" style="margin-top: -10%;">em até 12x sem juros</p>
            </div>
        <div class="mt-auto text-center">
            <button class="submit center" onclick="window.location.href='/Home/Contact'">Saiba Mais</button>
        </div>
    </div>

     @* <div class="card" style="width: 53rem; height: 33rem; background: #005B3D; opacity: 0.98; margin-right: 50px;">
        <h3 class="card-title text-center "><strong>Personalizado</strong></h3>
        <div class="">
            <strong class="card-text">Escolhendo o plano básico você tem essa variedade de recursos:</strong>
            <ul>
                <li><input type="checkbox" class="checkbox"> Exame clínico</li>
                <li><input type="checkbox" class="checkbox"> PCMSO</li>
                <li><input type="checkbox" class="checkbox"> PPP</li>
                <li><input type="checkbox" class="checkbox"> PGR</li>
                <li><input type="checkbox" class="checkbox"> Gestão</li>
            </ul>
            
        </div>
        <div class="d-flex justify-content-center mt-auto ">
            <button class="submit center" onclick="window.location.href='/Home/Contact'">Saiba Mais</button>
        </div>
    </div>
</div>  *@
